@media  screen and (min-width:1024px){
    .container{
        /* width: 1280px; */


    }
}
@media  screen and (max-width:1024px){
    .container{
        width: 95%;

    }
}




@media  screen and (max-width:769px){
    .container{
        width: 80%;

    }
    .padding{
        /* background-color: #9f0d14; */
        padding: 8% 0;
    }
    .marginTop{
        margin-top: 3%;
    }
    .marginBottom{
        margin-bottom: 3%;
    }

    .d-flex{
       flex-direction: column;
        
    }
    .row{
        /* background-color: green; */
    }
    .column{
        width: 100%;
        /* background-color: red; */
        text-align: center;
    }

    .text-media .column{
        width: 100%;
    }
}